.procuct-list {
    margin: 40px 0;
}

.procuct-list .container {
    /* background-color: #ebeeef; */
    border-radius: 4px;
    padding: 0 20px 30px;
}

.card {
    position: relative;
    cursor: pointer;
}

.card .favorite {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
}

.card-top-title {
    font-size: 23px;
    font-weight: 400;
    padding: 20px 0 5px;
}

.card img {
    height: 150px;
    margin: 0 auto;
    padding: 10px 0;
}

.card-details {
    padding: 10px 20px;
    border-left: 3px solid #ffce32;
}

.price {
    font-size: 21px;
}

.description {
    font-size: 14px;
    font-weight: 400;
    color: rgb(71, 71, 71);
}

.slick-arrow {
    display: block;
    background: rgb(255, 255, 255) !important;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, 0.75);
    -moz-box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, 0.75);
    box-shadow: 1px 1px 5px 0px rgba(199, 199, 199, 0.75);
}
.slick-arrow.slick-prev{
    padding: 15px 30px 35px 10px;
}
.slick-arrow.slick-next {
    padding: 15px 25px 35px 15px;
}
.slick-prev:before {
    content: '\25c4';
    font-size: 20px;
    color: #000;
}
.slick-next:before {
    content: '\25ba';
    font-size: 20px;
    color: #000;
}
.slick-dots li button:before {
    font-size: 25px;
}
.load-more-btn{
    padding: 10px 30px;
    background: #fff;
    border: 2px solid #002f34;
    color: #002f34;
    margin: 40px 0 0;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
}
.load-more-btn:hover{
    outline: #002f34 solid 1px;
}
@media(max-width:768px){
    .slick-arrow.slick-prev {
        display:none !important;
    }
    .slick-arrow.slick-next {
        display:none !important;
    }
}