.nav-bar-wrap {
    margin-bottom: 100px;
}

.nav-bar {
    background-color: #eff1f3;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
}

.olx-logo {
    padding: 0 0 0 50px;
}

.location-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid #000;
    border-radius: 4px;
}

.location-search svg {
    font-size: 25px;
}

.location-search .input {
    width: 100%;
    padding: 0 10px;
    outline: none;
    border: none;
    background-color: transparent;
}

.location-search:hover {
    border: 2px solid #00ccb1;
}

.find-car {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.find-car .input {
    width: 100%;
    padding: 10px 20px;
    outline: none;
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 4px 0 0 4px;
}

.find-car .input:hover {
    border: 2px solid #00ccb1;
}

.find-car .search-box {
    background-color: #002f34;
    padding: 10px 20px;
    border-radius: 0 4px 4px 0;
    outline: 2px solid;
    cursor: pointer;
}

.find-car svg {
    font-size: 24px;
    color: #fff;
}

.login-btn {
    color: #002f34;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 2px solid;
    text-decoration: none;
}

.login-sell-box {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0 100px !important;
}

.login-btn:hover {
    border: none;
}

.sell-btn {
    font-size: 15px;
    font-weight: 600;
    padding: 8px 35px;
    margin: 0 20px;
    border: 3px #00a2ff solid;
    color: #002f34;
    text-align: center;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 3px 5px #a9a9a9;
}

/* style for mobile navbar */
span.open-nav {
    padding: 10px;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}


.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #002f34;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #00515a;
}

.overlay .closebtn {
    position: absolute;
    top: 0px;
    left: 4px;
    font-size: 33px;
}

/* style for mobile navbar */

/* model/popup css */
.modal-header {
    border: none;
    padding: 20px;
}

.modal-body {
    padding: 0 20px;
}

.modal-content {
    border: none;
    border-radius: 4px;
    box-shadow: none;
    width: 400px;
    margin: 0 auto;
}

.modal-body #first-step span {
    cursor: pointer;
    display: block;
    margin: 20px;
    border: 2px solid #002f34;
    padding: 10px 35px;
    border-radius: 4px;
    color: #002f34;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.modal-body #first-step span:hover {
    outline: #002f34 1px solid;
}

.modal-header .btn-close {
    font-size: 20px !important;
}

.login-quote {
    font-size: 16px;
    font-weight: 500;
}

.login-with-email {
    font-size: 15px;
    font-weight: 600;
    color: #011f22;
}
.enter-phone{
    cursor: pointer;
    margin: 0 8px;
    border: 2px solid #002f34;
    padding: 10px 15px;
    border-radius: 4px;
    color: #002f34;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.phone-next-btn{
    background-color: #002f34;
    padding: 10px 20px;
    border-radius: 0 4px 4px 0;
    border: 2px solid;
    color: #fff;
    width: 300px;
    margin: 20px 0 0;
}
.verify{
    position: relative;
}
.verify .back-arrow{
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    top: -45px;
    left: 0;
    cursor: pointer;
}

/* model/popup css */

.user-dp img{
    width: 35px;
}

.user-dp .dropdown button, .user-dp .dropdown button:hover{
    background: none;
    border: none;
}

.dropdown-menu.show {
    padding: 10px 5px 25px;
    width: 250px;
    text-align: center;
}

.welcome-name{
    text-align: left;
    padding: 0 20px 5px;
    font-size: 20px;
    color: #002f34;
}

.view-edit-btn {
    color: #fff;
    background: #002f34;
    border-radius: 4px;
    padding: 12px 30px;
    text-decoration: none;
    font-weight: 500;
}

.view-edit-btn:hover{
    background: none;
    color: #002f34;
    outline: #002f34 solid 3px;
}

.dropdown-toggle::after {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
    color: black;
    font-size: 20px;
}

@media(max-width:768px) {
    .nav-bar-wrap {
        margin-bottom: 170px;
    }

    .login-sell-box {
        justify-content: center;
        margin: 20px 0 5px;
    }
}

@media(max-width:425px) {
    .nav-bar-wrap {
        margin-bottom: 0;
    }

    .procuct-list {
        margin: 15px 0 !important;
    }

    .procuct-list .container {
        background-color: #fff !important;
    }

    .olx-logo {
        padding: 0px 0 0 15px;
    }

    .location-search {
        width: 80%;
    }

    .find-car {
        margin: 10px 0;
    }

    .login-sell-box {
        margin: 2px 0;
    }

    .login-btn {
        border-bottom: none;
    }
}